---
layout: default
title: Home
---

<div class="home">
    <h1>Welcome to {{ site.title }}</h1>
    <div class="posts">
        {% for post in paginator.posts %}
            <article>
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <div class="post-meta">{{ post.date | date: "%B %d, %Y" }}</div>
                {{ post.excerpt }}
            </article>
        {% endfor %}
    </div>

    <!-- Pagination Links (if you have them) -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
    </div>
    {% endif %}
</div>

<!-- License Section -->
<section class="license">
  <h2>License</h2>
  <p>The datasets, web apps, tools, and code provided in this repository are free to use, share, and modify under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version, unless specially specified.</p>
  <p>These resources are distributed in the hope that they will be useful, but <strong>WITHOUT ANY WARRANTY</strong>, without even the implied warranty of <strong>MERCHANTABILITY</strong> or <strong>FITNESS FOR A PARTICULAR PURPOSE</strong>. See the GNU General Public License for more details.</p>
  <p>You should have received a copy of the GNU General Public License along with this repository. If not, see <a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>.</p>
  <p><strong>Copyright (C) 2025 [Cyber O͘-hîm ki-tē]</strong></p>
</section>
