<header class="site-header" role="banner">
    <div class="container">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/images/favicon.svg' | relative_url }}" alt="Logo" class="site-logo">
            &gt; {{ site.title | escape }}<span class="cursor">_</span>
        </a>
        <nav class="site-nav">
            <a class="page-link" href="{{ site.data.ui_text.global.nav.apps | relative_url }}">/apps</a>
            <a class="page-link" href="{{ site.data.ui_text.global.nav.tools | relative_url }}">/tools</a>
            <a class="page-link" href="{{ site.data.ui_text.global.nav.games | relative_url }}">/games</a>
            <a class="page-link" href="{{ site.data.ui_text.global.nav.blog | relative_url }}">/blog</a>
        </nav>
    </div>
</header>