<header class="site-header" role="banner">
    <div class="container">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
            &gt; {{ site.title | escape }}<span class="cursor">_</span>
        </a>
        <nav class="site-nav">
            <a class="page-link" href="{{ '/apps.html' | relative_url }}">/apps</a>
            <a class="page-link" href="{{ '/blog/' | relative_url }}">/blog</a>
            <a class="page-link" href="{{ '/help/' | relative_url }}">/help</a>
        </nav>
    </div>
</header>